<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="contaianer text-center mt -5 mb -5">
  <h1>TP ANGULAR</h1>
  <p>Interpolation : {{title}} : {{3+4}}</p>
  <p>Interpolation avec methode : {{getTitle()}} : {{3+4}}</p>
  <div>
    <label>Property binding</label>
    <input type="text" [value]="my_value">
  </div>
  <div>
    <label>Event binding</label>
    <button type="button" class="btn btn-primary" click="updateTitle()">Modifier titre</button>
  </div>
  <div>
    <label>Two-way binding</label>
    <input type="text" [(ngModel)]="title">
  </div>
  <div class="my-class">
    <button type="button" class="btn btn-primary" click="isClassVisible()">Modifier couleur</button>
  </div>
</div>
<app-parent>
  <app-title [color]="'red'" [value]="'Mes contacts'"></app-title>
</app-parent>
<app-first></app-first>
<app-second></app-second>

<router-outlet></router-outlet>
